<phpunit bootstrap="./bootstrap.php" colors="true">
    
    <testsuite name="MercyfulFate Test Suite">
        <directory>./library</directory>
    </testsuite>
    
    <filter>
        <whitelist>
            <directory suffix=".php">../library/Payment</directory>
        </whitelist>
    </filter>
    
</phpunit>
